{% extends "user/layout.html" %}

{% block body %}
<header>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white">pic-share</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active  text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/add_post">Add post</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('upload_photos')}}">Upload photo</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item  ">
            <a class="nav-link text-white" href="{{url_for('show_post') }}" >Show_post</a>
          </li>
          {% if current_user.id==1 %}
          <li class="nav-item  ">
            <a class="nav-link text-white" href="{{url_for('admin') }}" >Admin</a>
          </li>
          {% endif %}
        </ul>
        <form method="post" action="{{ url_for('search') }}" class="d-flex" >
          {{form.hidden_tag()}}
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form class="d-flex" role="search" action="/logout">
          <button class="btn btn-outline-success" type="submit" href="/logout">logout</button>
      </form>
      </div>
    </div>
  </nav>
</header>
{% for message in get_flashed_messages() %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {{message}}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<footer class="p-3 m-0 border-0 bd-example">
    {% if current_user.is_authenticated  %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <a>You're login!</a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
<h1>LOGIN!!!!</h1>
</br>        
    <form action="/login" method="post" >
        {{form.hidden_tag()}}
        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}
        </br>
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        </br>
        {{form.Submit(class="btn btn-secondary")}}   
    <!--
    <input type="text" class="form-control" placeholder="username" aria-label="username" name="username" aria-describedby="button-addon2"></br>
    <input type="email" class="form-control" placeholder="email" aria-label="email" name="email" aria-describedby="button-addon2"></br>
    <input  name="password" type="password" class="form-control" placeholder="password" aria-label="password"  aria-describedby="button-addon2"></br>
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">submit</button></br>-->
    </form>
    {% endif %}
</footer>


{% endblock %}