{% extends "user/layout.html" %}


{% block body %}
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-white">pic-share</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link active  text-white" aria-current="page" href="/">INDEX</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/user/<username>">Home</a>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  post
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">1</a></li>
                  <li><a class="dropdown-item" href="#">nothing</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-white" href="{{url_for('show_post') }}" >Show_post</a>
              </li>
              {% if current_user.id==1 %}
              <li class="nav-item  ">
                <a class="nav-link text-white" href="{{url_for('admin') }}" >Admin</a>
              </li>
              {% endif %}
            </ul>
            <form method="post" action="{{ url_for('search') }}" class="d-flex" >
              {{form.hidden_tag()}}
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form class="d-flex" role="search" action="/logout">
              <button class="btn btn-outline-success" type="submit" href="/logout">logout</button>
          </form>
          </div>
        </div>
      </nav>
    </header>
<p class="h1">You search for:<em>{{ searched }}</em></p>
{% if posts %}

{% for post in posts %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center" style="width: 500px;">
          <div class="card-header">
      Author:{{post.poster.name}}
  </div>
  <div class="card">
  <div class="card-body">
    <p class="btn btn-primary">Title:{{post.title}}</p>
    <p class="card-text">{{post.content|safe}}</p>
    <p  class="card-text">{{post.slug}}</p>
    <span class="badge rounded-pill text-bg-primary ml-auto">Date:{{post.date_posted}}</span> 
  </div>
  {% if post.poster.id == current_user.id %}
  <div class="card-footer text-muted">
      <a type="submit" class="btn btn-outline-success" href="{{url_for('show_post_id',id=post.id) }}">View post</a>
      <a type="submit" class="btn btn-outline-warning" href="{{url_for('edit_post_id',id=post.id) }}">Edit post</a>
      <a type="submit" class="btn btn-outline-danger" href="{{url_for('delete_post_id',id=post.id) }}">Delete post</a></br>
  </div>
  {% endif %}
  
</div>
</div>
  </div>
  </div>
</div>
    
{% endfor %}
</footer>


{% else %}
    Your search: <strong>{{ searched }}</strong> was not found!!!!
{% endif %}

{% endblock %}