{% extends "user/layout.html" %}

{% block body %}
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand text-white">pic-share</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link active  text-white" aria-current="page" href="/">INDEX</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/user/<username>">Home</a>
              </li>
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-white" href="{{url_for('show_post') }}" >Show_post</a>
              </li>
              {% if current_user.id==1 %}
            <li class="nav-item  ">
              <a class="nav-link text-white" href="{{url_for('admin') }}" >Admin</a>
            </li>
            {% endif %}
            </ul>
            <form method="post" action="{{ url_for('search') }}" class="d-flex" >
              {{form.hidden_tag()}}
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form class="d-flex" role="search" action="/logout">
              <button class="btn btn-outline-success" type="submit" href="/logout">logout</button>
          </form>
          </div>
        </div>
      </nav>
    </header>
    <footer class="p-3 m-0 border-0 bd-example">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      {% endfor %}
      </div>
    </div>
    {% for post in post_id %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card text-center" style="width: 500px;">
              <div class="card-header">
          Author:{{post.poster.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Title:{{post.title}}</h5>
        <p class="card-text">{{post.content|safe}}</p>
        <a  class="btn btn-primary">{{post.slug}}</a></br>
        <span class="badge text-bg-info">{{post.date_posted}}</span>  
      </div>
      {%　endfor　%}
      <form action="/show_post">
      <input type="submit" class="btn btn-outline-primary"value="Back"href="/show_post"></button>
      </form>

{% endblock %}