{% extends "user/layout.html" %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white">pic-share-{{username|capitalize}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled text-white" href="/update">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/" method="post">
          <input class="form-control me-2" type="email" placeholder="email" aria-label="Search" name="email">
          <input class="form-control me-2" type="password" placeholder="password" aria-label="Search" name="password">
          <button class="btn btn-outline-success" type="submit">LOGIN</button>
        </form>
        <form class="d-flex" role="search" action="/new">
            <button class="btn btn-outline-success" type="submit" href="/new">new</button>
        </form>
      </div>
    </div>
  </nav>
  {% for message in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %}

{% endblock %}